---
import Layout from "@/layouts/base.astro";
import { Image } from "astro:assets";

---
<Layout class="flex flex-row" navbarProps={{ hide: true }}>
	<Image
		src={import("@/assets/plants.png")}
		alt="Plants"
		height="1024"
		style={{
			maskImage: "linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0))",
		}}
		class="h-[384px] md:h-screen object-cover object-right absolute inset-0 -z-10 max-w-[30vw] md:max-w-[40vw] dark:invert"
	/>
	<div class="container space-y-8">
		<h1 style="writing-mode: tb" class="mt-4 float-left text-9xl md:text-[25vh] text-right align-bottom leading-none font-black rotate-180 mix-blend-difference invert dark:invert-0">Dovedit</h1>
		<div>
			<h2 class="text-4xl font-bold">
				Care e problema?
			</h2>

			<p>
				Alegerile prezidentiale din 2024 au aratat cat de usor suntem de influentat
				ca popor, bazandu-ne pe informatie de pe retelele sociale precum TikTok,
				Instagram si Facebook. Informatie care nu este verificata si de multe
				ori este falsa intentionat sau neintentionat. <b>Romanii nu se informeaza
				corespunzator.</b>
			</p>
		</div>


		<div>
			<h2 class="text-4xl font-bold">
				De ce nu se informeaza romanii?
			</h2>

			<p>
				Canalele de informare din Romania sunt sub nivelul
				de calitate standard international. Fiind pline de informatie inutila
				si haotica doar pentru a atrage vizitatori cum ar fi: showbiz,
				paparazzi, interpretari care instiga furie, clickbait si alte
				tactici murdare. Iar oamenii de rand folosesc social media pentru ca,
				au o calitate mai inalta decat sursele de informatie traditionale din Romania.
			</p>
		</div>


		<div>
			<h2 class="text-4xl font-bold">
				Care e solutia?
			</h2>

			<p>
				Fii cel care are dreptate! Ajuta-ne sa ridicam standardul de
				calitate al informatiei din Romania prin verificari, design,
				accesibilitate, securitate si multe alte aspecte pe care
				Dovedit le implementeaza.
			</p>
		</div>


		<div>
			<h2 class="text-4xl font-bold">
				Cum o vom face?
			</h2>

			<p>
				Dovedit este platforma dedicata informatiei. Aceasta
				este sustinuta in intregime de comunitate. Aceasta initiativa
				este solutia care pregateste un viitor mai bun pentru
				informatia din Romania. Daca vrei sa vezi mai multe
				detalii, <a href="/whitepaper">citeste whitepaper-ul Dovedit</a>.
			</p>
		</div>


		<div>
			<h2 class="text-4xl font-bold">
				Cum pot ajuta?
			</h2>

			<p>
				Dovedit este inca in planuri de dezvoltare. Daca vrei sa
				ajuti, contacteaza-ne pe <a href="https://instagram.com/doveditro" target="_blank">Instagram</a> sau prin email la
				<a href="mailto:contact@dovedit.ro">contact@dovedit.ro</a>.
			</p>
			<p class="mt-2">
				Contul nostru de <a href="https://opencollective.com/dovedit" target="_blank">OpenCollective</a>
				este inca in progress. Daca doresti sa vezi sau sa contribui la
				codul sursa, poti vedea contul nostru de <a href="https://github.com/dovedit" target="_blank">GitHub</a>.
			</p>
		</div>
	</div>
</Layout>
